body {
  background-color: lightblue;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  background-color: lightsalmon;
}

.nav-BETSY {
  font-size: 30px;
  margin-top: 20px;
}

.Gameboy-img {
  height: 55%;
  width: 55%;
  border-radius: 25px;
  margin: 15px;
}